<div>
    <div class="container-fluid">
   <div class="row">
       <div class="col-3 d-flex flex-column">
           <a [routerLink]="['/account']"class="badge  bd-highlight p-2 m-3 border-bottom border-dark" >Account</a>
           <a [routerLink]="['/newsfeed']" class="badge badge-info bd-highlight p-2 m-3">Newsfeed</a>
           <a  class="badge badge-primary bd-highlight p-2 m-3">Blocked Account</a>
           <a [routerLink]="['/search']" class="badge badge-info bd-highlight p-2 m-3"> Search</a>
          
       </div>
       <div class="col-lg-8 mt-2">
           <div class="secondary-shadow bg-light p-4">
               <div class="row mt-5">
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                          
                           <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                               alt="Card image cap">                                </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                          
                           <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap"> </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                                                      <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control ">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
               </div>
               <div class="row mt-5">
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                           <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                                                    <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                                                     <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
               </div>
               <div class="row mt-5">
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                           
                           <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                                               <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
                   <div class="col-sm-12 col-md-4">
                       <div class="card mb-3">
                                                <div class="media-container">
                               <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                           alt="Card image cap">
                           </div>
                           <div class="card-body text-center">
                               <p class="badge badge-dark"><span class="lead">@Username</span></p>
                               <a href="#" class="btn btn-light m-1 form-control">Unblock</a>
                           </div>
                       </div>
                       <!-- /.card -->
                   </div>
                   <!-- /.col-sm-4 -->
               </div>
           </div>
       </div>
   </div>
   </div>
