<div>
    <div class="container-fluid">
   <div class="row">
       <div class="col-3 d-flex flex-column">
           <a [routerLink]="['/account']"class="badge  bd-highlight p-2 m-3 border-bottom border-dark" >Account</a>
           <a  [routerLink]="['/newsfeed']" class="badge badge-primary bd-highlight p-2 m-3">Newsfeed</a>
           <a [routerLink]="['/blocked']" class="badge badge-primary bd-highlight p-2 m-3">Blocked Account</a>
           <a [routerLink]="['/search']" class="badge badge-primary bd-highlight p-2 m-3"> Search</a>
           
       </div>
       <div class="col-lg-5">
           <div class="secondary-light  p-4">
               <h5 class="h2 border-bottom border-dark">Newsfeed</h5>
               <div class="row mt-3">
                   <div class="col">Today</div>
                   <div class="col">7:00</div>
                   <div class="col">You shared the other user image title "Full Stackathon"</div>
               </div>
               <hr>
               <div class="row">
                   <div class="col">21-01-20</div>
                   <div class="col">7:00</div>
                   <div class="col">You liked the "IOT Stack Beginners" picture</div>
               </div>
               <hr>
               <div class="row">
                   <div class="col">21-jan-20</div>
                   <div class="col">08:00</div>
                   <div class="col">You shared the "google" user media image with title "logo"</div>
               </div>
               <hr>
           </div>

       </div>
   </div>
   </div>
