    <div>
        <div class="container-fluid">
            <div class="row">
              <div class="col-3 d-flex flex-column">
              
               </div>
   
    <div class="col-lg-8 mt-2">
        <div class="secondary-shadow p-4">
            <div class="row align-items-center justify-content-between d-flex flex-sm-column flex-md-row">
                <div class="col-auto">
                
                </div>
                <div class="col-auto">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn bg-primary m-auto  bd-highlight active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Images
                        </label>
                        <label class="btn bg-primary m-auto active">
                            <input type="radio" name="options" id="option2" autocomplete="off" checked> Videos
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                                                <div class="media-container" [routerLink]="['/aboutmedia']">
                            <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-between w-100">
                            <p><i class="fas fa-user-circle"></i></p>
                            <p class="pr-1"><i class="fas fa-file-video"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                                              <div class="media-container"[routerLink]="['/aboutmedia']">
                            <img class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-file-video"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                       <div class="media-container" [routerLink]="['/aboutmedia']">
                            <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-file-video"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"> </i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                         <div class="media-container" [routerLink]="['/aboutmedia']">
                            <img  class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-image"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="media-container"[routerLink]="['/aboutmedia']">
                            <img class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-image"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="media-container" [routerLink]="['/aboutmedia']">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-image"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="media-container" [routerLink]="['/aboutmedia']">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-image"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="media-container"[routerLink]="['/aboutmedia']">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">
                        </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-image"></i></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="media-container"[routerLink]="['/aboutmedia']">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                                alt="Card image cap">                       </div>
                        <div class="top-left d-flex justify-content-end w-100">
                            <p class="pr-1"><i class="fas fa-image"></i></p>
                        </div>
                       
                        <div class="card-body d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;5</span></p>
                        </div>
                  
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            </div>
        </div>
    </div>
</div>
</div>
