<div>
    <div class="container-fluid">
   <div class="row">
       <div class="col-3 d-flex flex-column">
          
       </div>
       <div class="col-lg-8 mt-2">
        <div class="  p-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h5 class="h2"> </h5>
                </div>
                <div class="col-auto">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn bg-light">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Followers
                        </label>
                        <label class="btn  bg-light">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Following
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img class="card-img" src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                       <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">                           </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-3">
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-up"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-comment-dots"></i>&nbsp;1</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-file-video"></i>&nbsp;5</span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-thumbs-down"></i>&nbsp;12</span></p>
                            <p class="m-1"><span class="badge badge-dark"><i
                                        class="fas fa-image"></i>&nbsp;1</span></p>
                        </div>
                        <div class="media-container">
                            <img  class="card-img"  src="assets/profile.png" width="244.53" height="244.53"
                            alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-dark m-1 form-control disabled">Follow/Unfollow</a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>