
<div class="container-fluid bg-dark" *ngIf="auth.isUserLoggedIn()">
    <div class="row pb-2">
        <div class="col-2 m-2">
            <img src="assets/profile.png " style="background: white;" width="60" height="80" 
               class="d-inline-block align-left" alt=" profile  ">
        </div>
            <div class="col-4 d-flex align-items-center"  *ngIf="auth.isUserLoggedIn()">
            <p class="h2"><span class="badge badge-secondary">&nbsp;{{auth.getUserDetails()}}</span></p>
            </div>
        </div>
    </div>
    
